.baseBKG {
    background-color: rgb(164, 213, 140);
    z-index: -2;
}


.navBorder {
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.navBorder:hover {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.navBorder:active {
    border-left: 1px solid rgba(42, 212, 238);
    border-right: 1px solid rgba(42, 212, 238);
}


.frostedGlass {
    filter: drop-shadow(15px 15px 20px rgba(0, 0, 0, 0.2));
}


.headerBrand {
    max-height: 5vh;
}

.footerBar {
    max-height: 5vh;
    white-space: nowrap;
}








.artWindowTop {
    position: relative;
    height: 30vh;
    overflow: hidden;

}

.artWindowTop-gradient {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    background: 
    linear-gradient(
        to top,
        rgba(42, 212, 238, 0.5) 20%,
        rgba(164, 213, 140, 0.2) 100%);
    }

.artWindowTop-overlay {
    position: absolute;
    width: 100vw;
    height: auto;
    max-height: 100%;
    max-width: 1000px;
    bottom: 0;
    left: 0;
    z-index: 2;
    }




.artWindowBottom {
    position: relative;
    min-height: 30vh;
    overflow: hidden;
}

.artWindowBottom-gradient {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    background: 
    linear-gradient(
        to bottom,
        rgba(238, 137, 42, 0.5) 20%,
        rgba(164, 213, 140, 0.2) 100%);
    }

.artWindowBottom-overlay {
    position: absolute;
    width: 100vw;
    height: auto;
    max-height: 500px;
    top: 0;
    left: 0;
    z-index: 2;
    filter: drop-shadow(15px 15px 20px rgba(0, 0, 0, 0.2));

    }



.artWindow-art {
    position: absolute;
    top: 0;
    height: 100%;
    width: auto;
    z-index: -1;
}